@import "tailwindcss";

/* Define individual font faces */
@font-face {
    font-family: "Hardbop";
    src: url("/fonts/hardbop/Fontspring-DEMO-hardbop-thin.otf") format("opentype");
    font-weight: 100;
    font-style: normal;
}

@font-face {
    font-family: "Hardbop";
    src: url("/fonts/hardbop/Fontspring-DEMO-hardbop-light.otf") format("opentype");
    font-weight: 300;
    font-style: normal;
}

@font-face {
    font-family: "Hardbop";
    src: url("/fonts/hardbop/Fontspring-DEMO-hardbop-regular.otf") format("opentype");
    font-weight: 400;
    font-style: normal;
}

@font-face {
    font-family: "Hardbop";
    src: url("/fonts/hardbop/Fontspring-DEMO-hardbop-normal.otf") format("opentype");
    font-weight: 500;
    font-style: normal;
}

@font-face {
    font-family: "Hardbop";
    src: url("/fonts/hardbop/Fontspring-DEMO-hardbop-semibold.otf") format("opentype");
    font-weight: 600;
    font-style: normal;
}

@font-face {
    font-family: "Hardbop";
    src: url("/fonts/hardbop/Fontspring-DEMO-hardbop-bold.otf") format("opentype");
    font-weight: 700;
    font-style: normal;
}

@font-face {
    font-family: "Hardbop";
    src: url("/fonts/hardbop/Fontspring-DEMO-hardbop-ultrabold.otf") format("opentype");
    font-weight: 800;
    font-style: normal;
}

@font-face {
    font-family: "Hardbop";
    src: url("/fonts/hardbop/Fontspring-DEMO-hardbop-black.otf") format("opentype");
    font-weight: 900;
    font-style: normal;
}

/* Configure Tailwind to use the Hardbop font family */
@theme {
    --font-hardbop: "Hardbop", sans-serif;
}

/* Scrolling banner animation */
@keyframes scroll-left {
    0% {
        transform: translateX(0);
    }

    100% {
        transform: translateX(-100%);
    }
}

@keyframes scrollBanner {
    from {
        transform: translateX(0);
    }

    to {
        transform: translateX(-20%);
    }
}

.scroll-banner-track {
    animation: scrollBanner linear both;
    animation-timeline: scroll(root);
    /* 🔥 gekoppeld aan scroll */
    animation-range: 0% 100%;
}

body {
    background-color: #FDF7E7;
}

@theme {
    --color-primary: #116a7b;
    --color-secondary: #EE7693;
}